.footer{
	background-color: #2D3F45;
	padding: 0px 0;
}
.colorwhite{
	color: #FFFFFF;
}
.copyright{
	background-color: #324950;
	padding: 22px;
	font-size: 14px;
	color: #B9B9B9;
	  font-family: "Roboto", sans-serif;

}
.footmenu ul a{
	color:#FFFFFF;
	font-size: 16px;
	text-decoration: none;
	margin-right: 25px;
}
.footer ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer ul li{
	display: inline;
	margin-left: 30px;
}
.footer ul a{
	color:#FFFFFF;
	font-size: 16px;
	text-decoration: none;
	  font-family: "Roboto", sans-serif;
}
.footer .wrapper{
	padding: 30px 0px 30px;
}
.socialnatworks ul li {

	padding:0 0 0 6px;	

	margin:0 0 0 0;	


}
.socialnatworks {
	text-align: right;
}
.rows ul li{
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    width: 250px;
}